<div class={"collapse navbar-collapse justify-content-#{@alignment}"} id="navbarNav">
  <ul class="navbar-nav alt-font">
    <%= for %{item: item, children: children} <- build_navigation(@navigation, 3) do %>
      <%= render "navigation/_item_level_1.html", item: item, children: children %>
    <% end %>
  </ul>
</div>