<!-- style sheets and font icons  -->
<link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/css/font-icons.min.css")}>
<link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/css/theme-vendors.min.css")}>
<link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/css/style.css")} />
<link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/css/responsive.css")} />

<!-- Rollup -->
<link rel="stylesheet" href={Routes.static_path(@conn, "/js/main.css")}/>
